<!-- begin post -->
<!-- <li class="w3-padding-16"> -->
<li>
    <a href="{{ post.url | absolute_url }}" style="text-decoration:none;">
        <img class="w3-left w3-margin-right" style="width:50px;height:70px;" 
            src="{% if post.img contains "://" %}{{ post.img_feature }}{% else %}{{ post.img_feature | absolute_url }}{% endif %}">
        <span class="w3-large" >{{ post.title }}</span><br>
        <span>{{ post.short_description | strip_html | truncatewords:15 }}</span>
    </a>
</li>
<!-- end post -->